/*######################################
Screen Settings
########################################*/

#app-body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}



/*######################################
Font size and style
########################################*/

/* Add fonts*/
@font-face {
    font-family: "Graphik";
    src: local('Graphik'), url("fonts/Graphik.ttf");
}
@font-face {
    font-family: "Graphik";
    src: local('Graphik'), url("fonts/GraphikBold.ttf");
    font-weight: bold;
}

/* Change font family throughout - DO NOT USE WITH PICKERINPUT
  when set the entire font to 'Graphik' the emojis used
  in the download data button and pickerinput selection (checkmarks)
  will not render because they aren't in the correct font
  {font-family: "Graphik" !important;}*/
*{font-family: "Graphik";}


/*##################################################################################################################
Navigation Bar
####################################################################################################################*/

/* Hide navigation bar */
.navbar{
  display:none !important;
}


/*##################################################################################################################
Header and global drop down options
####################################################################################################################*/

/* Remove rounded edges from drop downs and make blue */
.selectize-input, .selectize-input.dropdown-active, .selectize-dropdown, .selectize-dropdown-content .active {
  border-radius:0px;
  color: #3E4B4B;
}

/* color drop-down menu items (specifically, non-selected items) */
.dropdown-menu ul li a {
  color: #3E4B4B !important;
  font-family: Graphik;
}

/* color of selected item in drop down */
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus {
  color: #3E4B4B !important;
  background-color: #fff;
}

/* color background of selected item when hover over it */
.dropdown-menu>.active>a:hover {
  background-color: ##F4F6F6;
}

/* Top of page is a small grid of controls and info*/
/* Can change background of header here background-color:#DEF0F6; */
#header {
  /*margin: 1rem auto; making everything shift to the left*/
  /*width: 768px;
  display: -ms-flexbox;
  display: flex; vertically aligns to the left */
  background-color:#DADFDF !important;
  /*height: 100px;*/
  min-height: 7.0em;
  /*padding: 0 0px;*/
  display: absolute; /* without this the blue part of the header disappears */
  left: 50%;
}

/* Issues with splitlayout
/* without this, dropdown menus are cut off while using splitLayout - Don't need if not using split layout
overflow:hidden; gets rid of scroll but not overlap
/*display: inline-block; gets rid of overlap but not scroll*/

.shiny-split-layout > div {
  overflow:visible;
}

/* FIX THIS*/
button > div {
  -o-text-overflow: visible;
  text-overflow: visible;
  overflow: visible;
  white-space: visible;
}

/* Makes the label for header inputs sit left on top */
#header > * > span {
  text-align: left;
}

/* Format state header, same as map explorer header and download data header */
#app-header {
  background-color:#DADFDF !important;
  /*height: 100px;*/
  min-height: 7.0em;
  /*padding: 0 0px;*/
  margin-left: auto;
  margin-right: auto;
}




/*##################################################################################################################
Dropdowns and buttons
####################################################################################################################*/

/* Format for selector input */
#input-btn {
  width: 90%;
  max-width: 20em;
  margin-top: 1em;
  text-align: left;
  color: #3E4B4B;
  font-family: Graphik;
}

.input-col {
  min-width: 12em;
  margin-top: 1em;
  padding-left: 5px;
  padding-right: 0px;
  text-align: left;
  color: #3E4B4B;
  font-family: Graphik;
}






/*######################################
Title and value boxes
########################################*/

/* Title of state settings */
#selected-state {
  text-align: left;
  /*font-weight: bold;*/
  font-size: 30px;
  font-family: Graphik;
  font-weight: bold;
}

